:root {
    --primary-text-color: #212121;
    --secondr-text-color: #2196F3;
    --title-text-color: #757575;
    --primary-background-color: #E5E5E5;
    --section-color: #2F303A;
    --select-button-color: #F5F4FA;
    }
body {
    font-family: Roboto, sans-serif;
}
/* Хедр */
header {
    background-color: #FFFFFF;
}
/* Хедр-Логотип */
.logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    }
.web {
    color: var(--secondr-text-color);
}

/* Хедр-навигация */
.jump {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
}

/* Хедр-контакты */
.contact .mail,
.contact .tel {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.mail:hover, 
.tel:hover,
.jump:hover {
    color: var(--secondr-text-color);
}
/* Курсор */
.pointer {
    cursor: pointer;
}
/* Футер */
footer {
    background-color: var(--section-color);
}
/* Футер логотип */
footer .second {
    color: #FFFFFF;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.area {
    font-family: Roboto, sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
/* Футер контакт */
footer .contact {
font-family: Roboto, sans-serif;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255,255, 0.6);
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}


/* Home page */
.feature {
    background-color: var(--section-color);
    color: #ffffff;
}
.features {
    background-color: var(--secondr-text-color);
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16;
    line-height: 1.87;
    letter-spacing: 0.06em;
}
.solution {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
/* о нас */
.skills {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.work {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 00.03em;
    color: var(--primary-text-color);
}
.content {
    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.87;
}
/* наш продукт */

/* Наша команда */
/* Игорь */
/* для будущего позиционирования */
/* Ольга */
/* для будущего позиционирования */
/* Николай */
/* для будущего позиционирования */
/* Михаил */
/* для будущего позиционирования */
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}
.team-subtitles {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.16;
    letter-spacing: 00.03em;
}
.team-text {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

/* Страница портфолио */
.link {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.content {

}
/* Фильтр портфолио */
.stile {
    font-family: Roboto, sans-serif;
    text-transform: capitalize;
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
}
.select {
    font-family: Roboto, sans-serif;
    background-color: var(--select-button-color);
    text-transform:capitalize;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
}
.low {
    text-transform: none;
}
.select:hover {
    background-color: var(--secondr-text-color);
    color: #ffffff;
}

/* Портфолио */
.product {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}